/* General CSS */

body {
  font-family: "Arial", sans-serif;
  background-color: #fedc57;
}

.container {
  position: relative;
  bottom: 10px;
}

.hero {
  flex-direction: row;
  max-height: 160px;
}

.hero-body {
  position: relative;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .hero-body {
    position: relative;
    right: inherit;
  }
}

.navbar {
  justify-content: center;
  align-items: center;
  height: 160px;
}

.navbar-item {
  min-width: 100px;
}

.navbar-active-button {
  background-color: #ef3044;
  border: none;
  color: white !important;
}

.footer {
  margin-top: 2rem;
}

.copyright {
  position: relative;
  right: 10px;
}

/* Index.html Page Styles */

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
.carousel {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-inner {
  display: flex;
  width: 100%;
  animation: carouselAnimation 15s infinite;
  height: 100%;
}

.carousel-btn {
  display: none;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.has-overlap {
  position: relative;
  top: -240px;
  opacity: 0.9;
}

.custom-box {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

/* Menu Page Styles */

.pizza-image {
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.add-to-cart {
  position: relative;
  left: 20px;
}

@media screen and (min-width: 768px) {
  .min-height {
    min-height: 430px;
  }
}

/* About Us Page Styles */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  margin: 40px 0;
}

.timeline-dot {
  width: 30px;
  height: 30px;
  background-color: #ff3860;
  border-radius: 50%;
}

.timeline-year {
  margin-left: -14px;
}

.timeline-line {
  width: 4px;
  height: 100%;
  background-color: #ff3860;
  margin-left: 13px;
}

.timeline-item {
  display: flex;
  margin-bottom: 30px;
}

.timeline-content {
  margin-left: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .timeline-year {
    margin-left: -20px;
  }

  .timeline-content {
    margin-left: 0;
  }
}

/* Contact Page Styles */

.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.contact-item {
  text-align: center;
}

.contact-icon {
  font-size: 36px;
  margin-bottom: 10px;
}
